<ul>
  <li style="font-size: 18px;font-weight:bold;">
    <a style="color:black;"href="<%= album_url(album) %>"><%= album.title %></a></li>
  <li><%= album.yr %></li>
  <li><%= album.live ? "Live" : "Studio" %></li>
</ul>
